body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color: white;
}

@font-face {
    font-family: myFont;
    src:url(./assets/font/Space\ Comics.ttf);
}

.container {
    background-color: white;
}

.row {
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.row .navigation {
    display: flex;
    top: 0px;
    height: 80px;
    border-radius: 0 0px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1D2B53;
    position: fixed;
    flex: 1;
    height: 50%;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    border-radius: 0 0 0 0;
}

.nav-logo{
    display: flex;
    position: relative;
    left: 20px;
    flex-wrap: wrap;
}

.nav-logo .logo img {
    display: flex;
    position: relative;
    width: 40px;
    height: 40px;
    flex-wrap: wrap;
}

.nav-links{
    position: relative;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    flex-wrap: wrap;
}

.nav-links:hover { 
    color: #d8421d;
    transition: all 0.3s ease; 
}

.btn{
    display: flex;
    position: relative;
    padding: 1rem 1rem;
    font-size: 1rem 2rem;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    background-color: #d8421d;
    border-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    right: 15px;
    transition: all 0.3s ease;
    flex-wrap: wrap;
}

.btn:hover{
    background-color: #ad300a;
}

.link3 {
    display: flex;
    position: absolute;
    width: 1px;
    flex-wrap: wrap;
}

.home {
    position: relative;
    display: flex;
    background-image: url("./assets/assets/background4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 5px;
    padding-bottom: 3px;
    min-width: 300px;
    flex-wrap: wrap;
    flex: 5;
    margin-top: 80px;
    justify-content: space-around;
    min-height: 250px; 
    justify-content: center;
    align-items: center;
}

.home h3 {
    display: flex;
    position: relative;
    font-family: myfont;
    color: #fff;
    -webkit-text-stroke: 1px #1D2B53;
}

.title3 {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 25px 25px 0 0;
    color: #1D2B53;
    flex: 4;
    min-width: 200px;
    min-height: 30px;
    flex-wrap: wrap;
    background-color:  #fff;
}

.link {
    display: flex;
    position: absolute;
    width: 1px;
    height: 80px;
    top: 260px;
    flex-wrap: wrap;
}

.profile {
    position: relative;
    display: flex;
    background-color: #fff;
    align-items: center;
    min-width: 320px;
    min-height: 150px;
    padding-top: 5px;
    flex: 4;
    flex-wrap: wrap;
    justify-content: center;    
}

.profile h1 {
    position: relative;
    display: flex;
    color: black;
}

.profile p {
    position: relative;
    display: flex;
    text-align: center;
    color: black;
    bottom: 30px;
    padding-right: 10px;
    padding-left: 10px;
    flex-wrap: wrap;
}

.title {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 25px 25px 0 0;
    color: #fff;
    flex: 4;
    min-width: 200px;
    min-height: 30px;
    flex-wrap: wrap;
    background-color:  #1D2B53;
    border-color: #1D2B53;
}

.link1 {
    display: flex;
    position: absolute;
    width: 1px;
    top: 492px;
    flex-wrap: wrap;
}

.produk {
    display: flex;
    padding-top: 20px;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: #1D2B53;
    position: relative;
    border-radius: 0px 0px 25px 25px ;
    flex: 20;
    min-width: 200px;
    min-height: 250px;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.produk div {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 155px;
    margin: 10px;
    background-color: transparent;
    flex-wrap: wrap;
}

.produk div img {
    position: relative;
    margin: auto;
    height: 150px;
    width: 120px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: transparent;
}

.produk div a {
    position: relative;
    color: #fff;
    margin: 1px;
    align-items: center;
    bottom: 5px;
}

.title1 {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 25px 25px 0 0;
    color: #1D2B53;
    flex: 4;
    min-width: 200px;
    min-height: 30px;
    flex-wrap: wrap;
    background-color:  #ffffff;
    border-color: #ffffff;
}

.pesan {
    position: relative;
    display: flex;
    background-color: transparent;
    align-items: center;
    min-width: 300px;
    min-height: 300px;
    padding-top: 5px;
    flex: 4;
    flex-wrap: wrap;
    justify-content: space-evenly; 
}

.pesan div {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    height: 95px;
    width: 480px;
    color: white;
    margin: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    background-color: white;
    flex-wrap: wrap;
}

.pesan div img {
    display: flex;
    position: relative;
    margin: auto;
    height: 50px;
    width: 50px;
    margin-left: 15px;
    background-color: #ffffff;
    flex-wrap: wrap;
}

.pesan div a {
    display: flex;
    position: relative;
    color: black;
    margin-right: 15px;
    flex-wrap: wrap;
}

.title2 {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 25px 25px 0 0;
    color: #fff;
    flex: 4;
    min-width: 200px;
    min-height: 30px;
    flex-wrap: wrap;
    background-color:  #1D2B53;
    border-color: #1D2B53;
}

.contact {
    position: relative;
    display: flex;
    background-color: #1D2B53;
    align-items: center;
    min-width: 320px;
    min-height: 270px;
    padding-top: 5px;
    flex: 4;
    flex-wrap: wrap;
    justify-content: space-evenly; 
}

.contact .no {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 600px;
    margin: 20px;
    background-color: transparent;
    flex-wrap: wrap;
}

.contact .no div {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    min-width: 200px;
    height: 95px;
    margin: 10px;
    background-color: transparent;
    border-radius: 10px 10px 10px 10px;
}

.contact .no img {
    display: flex;
    position: relative;
    margin: auto;
    height: 50px;
    width: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 4px;
    background-color: transparent;
}

.contact .no li {
    display: flex;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    font-size: 20px;
    font: bold;
    padding-left: 10px;
    padding-right: 4px;
}

.contact .bar {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 250px;
    margin: 20px;
    background-color: transparent;
    flex-wrap: wrap;
}

.contact .bar img {
    display: flex;
    position: relative;
    margin: auto;
    height: 150px;
    width: 150px;
    padding-top: 30px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: transparent;
    flex-wrap: wrap;
}

.contact .bar a {
    display: flex;
    position: relative;
    padding: 1rem 1rem;
    color: #fff;
    background-color: #d8421d;
    text-decoration: none;
    border-color: transparent;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
    cursor: pointer;
    right: 15px;
    margin-left: 30px;
    padding-left: 20px;
    padding-right: 20px;
    transition: all 0.3s ease;
    flex-wrap: wrap;

}

.contact .bar a:hover {
    background-color: #ad300a;
}