
.info {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    width: 100%;
    height: auto;
    background-color: transparent;
}

.info .info-box {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    width: 90%;
    height: 350px;
    border-radius: 25px;
    background-color: #1D2B53;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.info-box .garis1 {
    display: flex;
    position: absolute;
    right: 240px;
    width: 50px;
    height: 350px;
    rotate: 40deg;
    background-color: #d8421d;
}

.info-box .garis2 {
    display: flex;
    position: absolute;
    right: 240px;
    width: 50px;
    height: 350px;
    rotate: 140deg;
    background-color: #d8421d;
}

.info-box img {
    display: flex;
    position: relative;
    width: 300px;
    height: 300px;
}

.info-box .info-kata {
    display: flex;
    position: relative;
    align-items: center;
    width: 450px;
    height: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    flex-wrap: wrap;
}

.info-kata h1 {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background-color: #d8421d;
}

@media screen and (max-width : 768px) {
    .info .info-box {
        flex-wrap: wrap;
        height: auto;
        flex-direction: column-reverse;

    }

    .info-box img {
        top: 80px;
        width: 250px;
        height: 250px;
    }

    .info-box .info-kata {
        width: 90%;
        justify-content: center;
        text-align: center;
        font-size: 16px;
    }

    .info-kata h1 {
        position: relative;
        font-size: 30px;
        bottom: 240px;
    }
}

@media screen and (max-width : 425px) {
    .info-kata h1 {
        font-size: 26px;
    }
}

.type {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: transparent;
    flex-wrap: wrap;
}

.type h1 {
    display: flex;
    position: relative;
    color: #1D2B53;
}

.type .type-box {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    margin: 10px;
    background-color: transparent;
    flex-wrap: wrap;
}

.type-box div {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 300px;
    height: auto;
    flex-wrap: wrap;
}

.type-box div img {
    display: flex;
    position: relative;
    width: 300px;
    height: 300px;
}

.text-produk h3 {
    display: flex;
    position: relative;
    color: #1D2B53;
    font-size: 23px;
    bottom: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text-produk p {
    display: flex;
    position: relative;
    text-align: center;
    font-size: 14px;
    color: #1D2B53;
    bottom: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media screen and (max-width : 768px) {
    .type .type-box {
        width: 100%;
    }

    .type-box div {
        width: 200px;
        height: auto;
        margin: 0;
        margin-left: 10px;
        margin-right: 10px;
    }

    .type-box div img {
        width: 200px;
        height: 200px;
    }

    .text-produk h3 {
        bottom: 30px;
        font-size: 20px;
    }

    .text-produk p {
        bottom: 60px;
        font-size: 12px;
    }
}

@media screen and (max-width : 425px) {
    .type-box div {
        width: 160px;
        height: auto;
        margin: 0;
        margin-left: 5px;
        margin-right: 5px;
    }

    .type-box div img {
        width: 160px;
        height: 160px;
    }

    .text-produk h3 {
        bottom: 23px;
        font-size: 18px;
    }

    .text-produk p {
        bottom: 50px;
        font-size: 12px;
        width: 170px;
    }
}

.link-box {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: auto;
    background-color: #1D2B53;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.link-box h3 {
    display: flex;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.link-box .button-link {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #d8421d;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}