body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color: white;
    width: 100%;
}

@font-face {
    font-family: myFont;
    src:url(./assets/font/Space\ Comics.ttf);
}

a {
    text-decoration: none;
}

.container {
    background-color: white;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navbar {
    position: fixed;
    background-color: #d8421d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0px;
    gap: 50px;
    height: 10px;
    padding: 20px 50px;;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.navbar .logo {
    font-size: 20px;
    font-weight: 600;
    margin-left: 10px;
    color: aliceblue;
}

.navbar .navbar-nav {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-right: 10px;
    gap: 20px;
}

.navbar .navbar-nav .nav-link {
    color: aliceblue;
}

.navbar .navbar-nav .nav-link:hover {
    color: azure;
}

@media screen and (max-width: 768px) {
    .toggle-menu {
        display: flex;
        flex-direction: column;
        gap: 8px;
        cursor: pointer;
        margin-right: 10px;
    }

    .toggle-menu span {
        display: block;
        background-color: aliceblue;
        height: 2px;
        width: 35px;
    }

    .navbar {
        position: fixed;
        padding: 20px;
    }

    .navbar .navbar-nav {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -300px;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(25px);
        padding: 35px 0;
        transition: all 0.3s ease;
    }

    .navbar .navbar-nav.show {
        top: 30px;
    }

    .navbar .navbar-nav .nav-link:hover {
        color: #d8421d;
        transition: all 0.3s ease;
    }
}

@media screen and (max-width : 425px) {
    .navbar {
        height: 15px;
        top: -1px;
    }

    .navbar .navbar-nav.show {
        top: 39px;
    }
}

.link3 {
    display: flex;
    position: absolute;
    width: 1px;
    flex-wrap: wrap;
}

.home {
    position: relative;
    display: flex;
    background-image: url("./background/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 5px;
    padding-bottom: 3px;
    width: 100%;
    height: 500px;
    flex-wrap: wrap;
    flex: 5;
    margin-top: 5 0px;
    justify-content: space-around;
    min-height: 250px; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.home .h1 {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 120px;
    width: 100%;
}

.h1 h1 {
    display: flex;
    position: relative;
    width: 500px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
}

.home h3 {
    display: flex;
    text-align: center;;
    width: 550px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
}

.home .linkz {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 500px;
    margin-right: 500px;
    bottom: 80px;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    background-color: #d8421d;
}

.linkz:hover {
    bottom: 85px;
    background-color: #d65839;
}

.title3 {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 25px 25px 0 0;
    color: #1D2B53;
    flex: 4;
    min-width: 200px;
    min-height: 30px;
    flex-wrap: wrap;
    background-color:  #fff;
}

.link {
    display: flex;
    position: absolute;
    width: 1px;
    height: 80px;
    top: 260px;
    flex-wrap: wrap;
}

@media screen and (max-width : 768px) {
    .home {
        height: 250px;
    }

    .home .h1 {
        top: 45px;
        font-size: 13px;
        width: 90%;
    }

    .home h3 {
        font-size: 16px;
        width: 95%;
    }

    .home .linkz {
        bottom: 25px;
    }
}

@media screen and (max-width : 425px) {
    .home {
        height: 200px;
        margin-top: 0px;
    }

    .home .h1 {
        top: 55px;
        width: 95%;
        font-size: 12px;
    }

    .home h3 {
        top: 15px;
    }

    .home .linkz {
        bottom: 5px;
    }
}

.profile {
    position: relative;
    display: flex;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 60px;
    padding-top: 5px;
    flex: 4;
    flex-wrap: wrap; 
}

.profile h1 {
    position: relative;
    display: flex;
    color: black;
}

.profile p {
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    color: black;
    bottom: 20px;
    width: 80%;
    height: 150px;
    font-size: 18px;
    padding-right: 10px;
    padding-left: 10px;
    flex-wrap: wrap;
}

@media screen and (max-width : 768px) {
    .profile p {
        padding-bottom: 70px;
        font-size: 17px;
        width: 90%;
    }
}

@media screen and (max-width : 425px) {
    .profile p {
        padding-bottom: 70px;
        font-size: 15px;
        width: 95%;
    }
}

.title {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
    flex: 4;
    min-width: 200px;
    min-height: 30px;
    flex-wrap: wrap;
    background-color:  #1D2B53;
    border-color: #1D2B53;
}

.link1 {
    display: flex;
    position: absolute;
    width: 1px;
    top: 752px;
    flex-wrap: wrap;
}

@media screen and (max-width : 768px) {
    .link1 {
        top: 602px;
    }
}

.produk {
    display: flex;
    padding-top: 20px;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: #1D2B53;
    position: relative;
    flex: 20;
    min-width: 200px;
    min-height: 250px;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.produk div {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 125px;
    margin: 10px;
    background-color: transparent;
    flex-wrap: wrap;
}

.produk div img {
    position: relative;
    margin: auto;
    height: 160px;
    width: 165px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: all 0.3s ease;
    background-color: transparent;
}

.produk div img:hover {
    height: 180px;
    width: 175px;
    transition: all 0.3s ease;
}

.produk div p {
    position: relative;
    color: #fff;
    margin: 1px;
    align-items: center;
    bottom: 5px;
}

@media screen and (max-width : 768px) {
    .produk div {
        height: 170px;
        width: 185px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width : 425px) {
    .produk div {
        margin-left: 5px;
        margin-right: 5px;
        height: 160px;
        width: 175px;
    }
}

.title1 {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 25px 25px 0 0;
    color: #1D2B53;
    flex: 4;
    min-width: 200px;
    min-height: 30px;
    flex-wrap: wrap;
    background-color:  #ffffff;
    border-color: #ffffff;
}

.pesan {
    position: relative;
    display: flex;
    background-color: transparent;
    align-items: center;
    margin-bottom: 50px;
    min-width: 300px;
    min-height: 300px;
    max-width: 100%;
    padding-top: 5px;
    flex: 4;
    flex-wrap: wrap;
    justify-content: space-evenly; 
}

.pesan div {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    height: 95px;
    width: 480px;
    color: white;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    background-color: white;
    flex-wrap: wrap;
}

.pesan div img {
    display: flex;
    position: relative;
    margin: auto;
    height: 50px;
    width: 50px;
    margin-left: 30px;
    background-color: #ffffff;
    flex-wrap: wrap;
}

.pesan div a {
    display: flex;
    position: relative;
    padding: 20px;
    margin-right: 10px;
    color: #1D2B53;
    flex-wrap: wrap;
}


.link-box {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: auto;
    background-color: #1D2B53;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.link-box h3 {
    display: flex;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.link-box .button-link {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #d8421d;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

@media screen and (max-width : 768px) {
    .link-box {
        display: flex;
        flex-wrap: wrap;
    }

    .link-box h3 {
        text-align: center;
    }

    .link-box .button-link {
        margin-bottom: 10px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}

@media screen and (max-width : 425px) {
    .link-box {
        display: flex;
        flex-wrap: wrap;
        border-radius: 0 0 6px 6px;
    }

    .link-box h3 {
        text-align: center;
        font-size: 16px;
    }

    .link-box .button-link {
        margin-bottom: 10px;
    }
}

.keunggulan {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    width: 100%;
    height: auto;
    background-color: #eeeeee;
    flex-wrap: wrap;
}

.keunggulan h1 {
    display: flex;
    position: relative;
    width: 100%;
    text-align: center;
    justify-content: center;
    color: #1D2B53;
}

.keunggulan .border {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: auto;
    background-color: transparent;
    flex-wrap: wrap;
}

.border .keunggulan-box {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    margin: 40px;
    width: 210px;
    height: 150px;
    border-radius: 5px;
    background-color: #fff;
    flex-wrap: wrap;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.keunggulan-box img {
    display: flex;
    position: relative;
    padding-right: 20px;
    padding-left: 20px;
    width: 60px;
    height: 60px;
}

.keunggulan-box h4 {
    color: #1D2B53;
    padding-right: 20px;
    padding-left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media screen and (max-width : 768px) {
    .keunggulan h1 {
        font-size: 24px;
        width: 90%;
    }

    .keunggulan .border {
        width: 100%;
    }

    .border .keunggulan-box {
        margin: 10px;
    }
}

@media screen and (max-width : 425px) {
    .border .keunggulan-box {
        width: 175px;
        height: 135px;
        margin: 4px;
    }

    .keunggulan-box h4 {
        padding-right: 10px;
        padding-left: 10px;
        text-align: center;
    }
}

.dokumentasi {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 30px;
    width: 100%;
    height: auto;
    background-color: transparent;
    flex-wrap: wrap;
}

.dokumentasi h1 {
    display: flex;
    position: relative;
    color: #1D2B53;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.dokumentasi .dokumentasi-box {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 95%;
    height: auto;
    background-color: transparent;
    flex-wrap: wrap;
}

.dokumentasi-box img {
    display: flex;
    position: relative;
    margin-bottom: 20px;
    width: 400px;
    height: 250px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.dokumentasi h3 {
    display: flex;
    position: relative;
    width: 500px;
    color: #b4b4b4;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media screen and (max-width : 425px) {
    .dokumentasi-box img {
        width: 350px;
        height: 200px;
        margin-bottom: 15px;
    }

    .dokumentasi h3 {
        width: 90%;
        font-size: 16px;
    }
}

.title2 {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
    flex: 4;
    min-width: 200px;
    min-height: 30px;
    flex-wrap: wrap;
    background-color:  #1D2B53;
    border-color: #1D2B53;
}

.contact {
    position: relative;
    display: flex;
    background-color: #1D2B53;
    align-items: center;
    min-width: 320px;
    min-height: 270px;
    padding-top: 5px;
    width: 100%;
    flex: 4;
    flex-wrap: wrap;
    justify-content: space-around; 
}

.contact .colom {
    display: flex;
    position: relative;
    width: 400px;
    height: auto;
    flex-wrap: wrap;
}

.colom label {
    display: flex;
    position: relative;
    margin-bottom: 5px;
    font-family: 'Times New Roman', Times, serif;
}

.colom input[type=text] {
    display: flex;
    position: relative;
    width: 100%;
    height: 30px;
    border-radius: 4px;
    border: 3.3px solid transparent;
}

.colom input[type=email] {
    display: flex;
    position: relative;
    width: 100%;
    height: 30px;
    border-radius: 4px;
    border: 3.3px solid transparent;
}

.colom textarea {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 4px;
    border: 3.3px solid transparent;
}

.contact button {
    display: flex;
    position: relative;
    width: auto;
    cursor: pointer;
    margin-top: 10px;
    padding: 5px;
    border-radius: 4px;
    background-color: #d8421d;
    color: #fff;
    transition: all 0.3s ease;
    border: 3.3px solid transparent;
}

.contact button:hover {
    background-color: #e06344;
}

.barcode {
    display: flex;
    position: relative;
    width: 200px;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.barcode img {
    display: flex;
    position: relative;
    width: 200px;

}

.barcode button {
    display: flex;
    position: relative;
    cursor: pointer;
    color: #fff;
    background-color: #d8421d;
    transition: all 0.3s ease;
}

.barcode button:hover {
    background-color: #e06344;
}

@media screen and (max-width : 425px) {
    .contact .colom {
        width: 350px;
    }

    .barcode {
        margin-top: 70px;
    }
}

.copyright {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 100%;
    background-color: #1D2B53;
}

